@import "tailwindcss";

.app-header-toolbar {
  @apply flex items-center justify-between;
}

.app-header-title {
  @apply flex items-center gap-2;
  @apply text-base font-semibold;
}

.app-header-title-icon {
  @apply text-lg;
}

.app-header-right {
  @apply flex items-center gap-3;
}
