@import "tailwindcss";

.app-header-toolbar {
  @apply flex items-center justify-between;
  @apply px-4 md:px-8;
  @apply h-14 md:h-16;
}

.app-header-title {
  @apply flex items-center gap-3;
  @apply text-lg md:text-2xl;
  @apply font-semibold tracking-tight;
}

.app-header-title-icon {
  @apply text-3xl md:text-4xl;
}

.app-header-right {
  @apply flex items-center gap-4;
  @apply text-sm;
}
